<div class="container-fluid">
    <mat-card>
        <h1>Completed Task List</h1>
        <mat-accordion *ngFor="let task of done">
            <div *ngIf="task.isCompleted === true">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-checkbox class="example-margin" [checked]="task.isCompleted" (click)="updateTask(task)"></mat-checkbox>
                            <section class="example-section">
                                {{task.taskname}}
                            </section>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{task.repeattask}}
                        </mat-panel-description>
                        <div class="delete completed" (click) = "deleteTask(task._id)">&times;</div>
                    </mat-expansion-panel-header>
                    <p>{{task.description}}</p>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </mat-card>
</div>



<router-outlet></router-outlet>